*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(147, 216, 193);
  background-image: url(./train.svg);
  background-size: cover;
  background-position: center;
}

header{
  padding-top: 20px;
  text-align: center;
  color: white;
}

.container{
  width: 500px;
  margin: 20px auto;
  text-align: center;
  color: rgb(46, 124, 98);
  border: 2px solid gray;
  background-color: rgba(240, 248, 255, 0.932);
}

h3, h4{
  margin: 15px;
  text-transform: uppercase;
}

.to-pay{
  width: 450px;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  color: rgb(46, 124, 98);
  border: 2px solid gray;
  background-color: rgba(240, 248, 255, 0.932);
  transition: 0.3s;
  outline: #00449c00 3px solid;
}

.button{
  max-width: 130px;
  min-height: 10px;
  padding: 10px;
  border-radius: 20px;
  margin: 20px auto;
  background-color: rgb(248, 118, 12);
  color: white;
  text-transform: uppercase;
}

.button:hover{
  outline: #ec734e 3px solid;
  opacity: 0.9;
  outline-offset: 1px;
}

